<main>
  <div class="container mx-auto h-screen">
    <div class="text-center px-3 lg:px-0">
      <h1 class="my-4 text-2xl md:text-3xl lg:text-5xl font-black leading-tight">
        Google web scraper
      </h1>
      <p class="leading-text">
        Import a CSV with keywords from the project structure 📂.
      </p>
      <p class="leading-text">
        It will search them on Google 🧐 and show results on the <b>table</b> and also into the <b>database</b>.
      </p>
    </div>
    <%= @inner_content %>
  </div>
</main>
