@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* @import "./components/navbar.css"; */

@layer components {
  .btn-primary {
    @apply transition duration-200 bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block
  }

  .btn-secondary {
    @apply transition duration-200 mx-5 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-200 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset
  }

  .btn-upload {
    @apply mx-auto lg:mx-0 hover:underline text-gray-800 font-extrabold rounded my-6 py-4 px-8 shadow-lg;
  }

  .form-field-header-text {
    @apply font-semibold text-sm text-gray-600 pb-1 block;
  }

  .form-input-field {
    @apply border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full;
  }

  .leading-text {
    @apply leading-normal text-gray-800 text-base md:text-xl lg:text-2xl mb-8
  }

}
/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}



